@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
}

.container {
  padding: 50px 0 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 500px;
  position: relative;
}

.carousel-container {
  width: 350px;
  overflow: hidden;
}

.carousel {
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  display: flex;

  &__item {
    list-style-type: none;
    margin: 0 20px;
  }

  &__btn {
    margin: auto 0;
    cursor: pointer;
  }

  &__dots-wrap {
    display: flex;
    justify-content: center;
    margin-top: 0;

    > .carousel__dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #aaa8aa;
      margin-right: 1%;

      &_active {
        background-color: #767476;
      }
    }
  }
}
